dataset/
parser/__pycache__/
fake_dataset/
watermark-detection/
model_weights/
IP-Adapter/
models/
weights/
sdxl_models/
output_dir/
data_preprocess/metadata.jsonl
data_preprocess/watermark-detection
metadata_jsons/